<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
</head>
<body>
    <a th:href="@{/search?country={country}&numberOfPerson={numberOfPerson}&min={min}&max={max}(country=${country}, numberOfPerson=${numberOfPerson}, min=${min}, max=${max})}">
        back
    </a>
    <div th:object="${singleDetails}">
        <p>ID: <span th:text="*{id}"></span></p>
        <p>
            Description: <span th:text="*{description}"></span>
            <span><img th:src="*{image}" alt="Listing image"></span>
        </p>
        <p>Address: <span th:text="*{streetAddress}"></span>
                    <p th:text="*{suburb}"></p>
                    <p th:text="*{country}"></p>
        </p>
        <p>Price: <span th:text="*{price}"></span></p>
        <p>Amenitites: <span th:each="amenity: *{amenities}" th:text="${amenity}"></span>
        </p>
    </div>
    <div>
        <h1>Bookings</h1>
        <form action="/book" method="POST" th:object="${bookingForm}" >
            <div data-th-if="${#fields.hasErrors('name')}">
                <span data-th-errors="*{name}" style="color: red; font-family: monospace;"></span>
            </div>
            <p>
                Name:
                <input type="text" th:field="*{name}" placeholder="Your name">
            </p>
            <div data-th-if="${#fields.hasErrors('email')}">
                <span data-th-errors="*{email}" style="color: red; font-family: monospace;"></span>
            </div>
            <p>
                Email:
                <input type="email" th:field="*{email}" placeholder="Your email">
            </p>
            <div data-th-if="${#fields.hasErrors('arrival')}">
                <span data-th-errors="*{arrival}" style="color: red; font-family: monospace;"></span>
            </div>
            <p>
                Arrival:
                <input type="date" th:field="*{arrival}">
            </p>
            <div data-th-if="${#fields.hasErrors('stay')}">
                <span data-th-errors="*{stay}" style="color: red; font-family: monospace;"></span>
            </div>
            <p>
                Stay:
                <input type="text" th:field="*{stay}" placeholder="Duration of stay">
            </p>
            <input type="submit" placeholder="Book">
        </form>
    </div>
</body>
</html>